.contw {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  position: absolute;
  top: 38%;
  left: 38%;
  height: auto;
  width: auto;
  gap: 1rem;
}
.contw div {
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* padding: 20px; */
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  height: 13vh;
  width: 18vh;
}
